/* .bulb{
 height: 100px;
 width: 100px;
 background-color: yellow;
} */


/* Clock */
/*
#clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }
  */


   